<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarea 1 Arquitectura de Software</title>
</head>
<body>

<ul>
    <li>Fecha Mensaje: {{.Date}}</li>
    <li>IP: {{.Ip}}</li>
    <li>Comentario: {{.Comment}}</li>
    <br>

</ul>

<p><a href="/comments">Ver Comentarios</a></p>
</body>
</html>
